<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forzlp.zhihubackend.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.forzlp.zhihubackend.pojo.Comment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="DATE"/>
            <result property="praCount" column="pra_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,pra_count,is_praised
    </sql>
    <insert id="save">
        INSERT INTO `zh_comment` (create_time,author_id,content) VALUES (now(),#{authorId},#{content});
    </insert>
    <update id="praise">
        update `zh_comment` set is_praised = 1 WHERE id = #{id}
    </update>
    <update id="commentPro">
        update `zh_problem`
        set rep_count = #{repCount}
        where id = #{pId};
    </update>
    <update id="commentArt">
        update `zh_article`
        set rep_count = #{repCount}
        where id = #{aId};
    </update>
    <select id="getLastId" resultType="java.lang.Long">
        SELECT max(id) FROM `zh_comment`
    </select>
    <select id="getById" resultType="com.forzlp.zhihubackend.pojo.Comment">
        SELECT * from `zh_comment` WHERE `id` = #{id}
    </select>
</mapper>
